h1 {
	text-align: center;
}

.positif-icon {
    height: 72px;
}
.negatif-icon {
    height: 72px;
}
.newclient-icon {
    height: 72px;
}

.taillepositif{
	font-size: 36px;
}

.taillenegatif{
	font-size: 36px;
}

.taillenewclient{
	font-size: 36px;
}